body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  display: flex;
  height: 10vh;
  /* background-color: #9e9c9c; */
  /* Слева ссылки, справа поиск */
  justify-content: space-between;
  /* Включить перенос на следующую строку */
  /* flex-wrap: wrap; */
  /* Выравнять по вертикали */
  align-items: center;
  margin-left: 5vw;
  margin-right: 5vw;
}
.content {
  flex: 1;
}
header .menu {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
}
.right_header {
  display: flex;
  align-items: center;
}
/* Расстояния между ссылками меняются в зависимости от ширины экрана */
header .menu .menu_link {
  text-decoration: none;
  margin-right: 10vw;
  color: black;
}
/* Для выравнивания поля ввода и кнопки поиска */
* {
  box-sizing: border-box;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  flex-shrink: 0;
  padding: 1rem;
}
.vertLine {
  height: 100px;
  width: 1px;
  background-color: #9e9c9c;
}
.vertLine2 {
  height: 70px;
  width: 1px;
  background-color: #9e9c9c;
}
footer .footerItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 1rem; */
}

footer .contacts {
  display: flex;
  justify-content: space-between;
}

.footerContacts {
  padding-right: 1rem;
  text-align: center;
}
