/* 'Open Sans' font from Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

.login {
  width: 400px;
  /* margin: 16px auto; */
  font-size: 16px;
  position: absolute;
  /* margin-top: 50vh; */
  /* float: right; */
  right: 5vw;
  top: 7vh;
  /* margin-left: 50vw; */
  z-index: 999;
  /* background-color: #05a; */
}

/* Reset top and bottom margins from certain elements */
.loginHeader,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.loginTriangle {
  width: 0;
  margin-right: 1vw;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #b591ff;
}

.loginHeader {
  background: #b591ff;
  padding: 8px;
  font-size: 1.2rem;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.loginContainer {
  background: #ebebeb;
  padding: 12px;
}
.loginButton {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  padding: 1rem;
}
/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 12px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #b591ff;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #ab83fc;
}

/* Buttons' focus effect */
/* .login input[type="submit"]:focus {
  background: #805ec4;
} */
