.tooltips12 {
  display: flex;
  justify-content: space-around;
  /* background-color: #b591ff; */
}
.tooltips34 {
  display: flex;
  justify-content: space-around;
  /* background-color: #b591ff; */
}
