.poems {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 600px);
  justify-content: center;
  justify-items: center;
  column-gap: 2rem;
  row-gap: 2rem;
  /* Сверху 1 и снизу 0, авто слева и справа */
  margin: 1rem 0 auto;
  /* background-color: antiquewhite; */
}
