.linkCard {
  text-decoration: none;
  color: black;
}
.portrait {
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  background-color: antiquewhite;
  flex-shrink: 0;
}
.poemCard {
  display: flex;
  align-items: center;
  min-width: 500px;
  background-color: aqua;
  /* justify-content: space-between; */
}

.infPoem {
  margin-left: 1rem;
  /* flex-shrink: 0; */
}

.authorName {
  font-weight: 600;
  margin-bottom: 0.5rem;
}
