.headAuthor,
.headCount {
  /* font-family: "Lora"; */
  font-size: 1.2rem;
  /* align-self: center; */
}
.mainTable {
  display: flex;
  /* display: inline; */
  /* background-color: antiquewhite; */
  width: 60vw;
  margin: 0 auto;
  /* box-shadow: 0px 3px 8px 0px rgba(109, 109, 109, 0.5); */
  padding: 1rem;
  margin-top: 5vh;
}
.authors {
  display: inline-flex;
  width: 90%;
  flex-direction: column;
}
.count {
  display: inline-flex;
  /* width: 10%; */
  flex-direction: column;
  align-items: flex-end;
  /* background-color: aliceblue; */
}

.itemA,
.itemB {
  padding: 1rem 0rem 0rem 0rem;
  /* border-bottom: 1px solid rgb(198, 198, 198); */
  width: 100%;
}
.itemA {
  text-decoration: none;
}
.itemB {
  text-align: end;
}
